
<div class="container mt-3">
  <h3>Reset Your Password</h3>
    
  <form action={{{link}}} class="was-validated" method="post">
    <div class="mb-3 mt-3">
      <label for="uname" class="form-label">New Password</label>
      <input type="text" class="form-control" id="password" placeholder="Enter New password" name="password" required>
      <div class="valid-feedback">Valid.</div>
      <div class="invalid-feedback">Please fill out this field.</div>
    </div>
   
   
  <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>